/*title*/
.title{
    height: 787px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .box{
        h3{
            color: $success;
        }
        h1{
            font-weight: 700;
            color: $success;
        }
        a{
            font-weight: 500;
            color: #ffff;
            background-color: $primary;
            padding: 6px 12px;
        }
    }
}
.fz-64{
    font-size: $f-sz-64;
}
.fz-20{
    font-size: $f-sz-20;
}
/*padding&margin*/
.pt-296{
    padding-top: 296px;
}
.pb-4{
    padding-bottom: 4px;
}

@include pad{
    .title{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png);
    }
}
@include mobile{
    .title{
        height: 396px;
    }
    .fz-sm-16{
        font-size: $f-sz-16;
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
    .pt-sm-144{
        padding-top: 144px;
    }
    .pb-sm-8{
        padding-bottom: 8px;
    }
}

/*meun*/
.meun{
    color: $success;
    background-color: $secondary; 
    padding: 80px 0;
    h2{
        text-align: center;
        font-weight: 700;
    }
    h4{
        font-size: $f-sz-24;
        font-weight: 700;
    }
    ul{
        /*margin: 0 -12px;*/
        /*放margin:0 -12px;就會無法置中，偏一邊，為什麼??*/
    }
    li{ 
        text-align: center;
        max-width: 306px;
        padding: 24px 12px 0;
        img{
            max-width: 100px;
        }
        p{
            text-align: left;
            color: #000;
        }
    }
}
.flex-ww{
    flex-wrap: wrap;
}
.fz-24{
    font-size: $f-sz-24;
}
.fz-48{
    font-size: $f-sz-48;
}
.pb-16{
    padding-bottom: 16px;
}

@include pad{
    .meun{
        ul{
            max-width: 100%;
        }
        li{
            max-width: 50%;
        }
    }
}
@include mobile{
    .meun{
        padding: 40px 0;
        li{
            max-width: 100%;
        }
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
}

/*product*/
.product{
    padding: 80px 0;
    h2{
        text-align: center;
        color: $success;
        font-weight: 700;
    }
    .card-product{
        max-width: 100%;
        /*放margin:0 -12px;就會無法置中，偏一邊，為什麼??*/
    }
    .card-body-product{
        max-width: 33.3333%;
        padding-left: 12px;
        padding-right: 12px;
        /*如果放padding:0 12px;因為權重的關係，響應式的pt&pb會被0所限制，而顯示不出來*/
        h3{
            text-align: center;
            color: $primary;
            font-weight: 700;
            font-family: "Roboto",sans-serif;
            font-style: italic;
        }
    }
}
.pt-48{
    padding-top: 48px;
}

@include pad{
    .product{
        .card-body-product{
        max-width: 100%;
        }
    }
    .pt-md-24{
        padding-top: 24px;
    }
}
@include mobile{
    .product{
        padding: 40px 0;
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
    .pt-sm-24{
        padding-top: 24px;
    }
}

/*new*/
.new{
    height: auto;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    h2{
        text-align: center;
        color: #ffff;
    }
    .card-new{
        max-width: 100%;
    }
    .card-body-new{
        max-width: 50%;
        text-align: center;
        color: $success;
        .img-sm-new{
            display: none;
        }
        h3{
            color: $primary;
            font-weight: 700;
            font-family: "Roboto",sans-serif;
            font-style: italic;
            background-color: #ffff;
            padding: 8px 0;

        }
    }
}


@include pad{
    .new{
        .card-body-new{
            max-width: 100%;
        }
    }
    .pt-md-24{
        padding-top: 24px;
    }
}
@include mobile{
    .new{
        padding: 40px 0;
        .card-body-new{
            .img-pc-new{
                display: none;
            }
            .img-sm-new{
                display: inline-block;
            }
        }
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
    .pt-sm-24{
        padding-top: 24px;
    }
}

/*recommend*/
.recommend{
    padding: 80px 0;
    h2{
        color: $success;
        text-align: center;
        font-weight: 700;
    }
    .card-recommend{
        max-width: 100%;
    }
    .card-body-recommend{
        max-width: 23%;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        margin-left: 12px;
        margin-right: 12px;
        p{
            padding-left: 16px;
        }
    }
}
.fw-500{
    font-weight: 500;
}
.color-p{
    color: #707070;
}
.pb-48{
    padding-bottom: 48px;
}
.pb-72{
    padding-bottom: 72px;
}
.mt-48{
    margin-top: 48px;
}

@include pad{
    .recommend{
        .card-body-recommend{
            max-width: 46%;
        }
    }
    .mt-md-24{
        margin-top: 24px;
    }
    .pb-md-72{
        padding-bottom: 72px;
    }
    .pb-md-96{
        padding-bottom: 96px;
    }
    
}
@include mobile{
    .recommend{
        padding: 40px 0;
        .card-body-recommend{
            max-width: 100%;
        }
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
    .mt-sm-24{
        margin-top: 24px;
    }
}

/*contact*/
.contact{
    padding: 80px 0;
    .box-contact{
        max-width: 636px;
        h2{
            text-align: center;
            color: $success;
            font-weight: 700;
        }
        label{
            font-size: $f-sz-16;
        }
        input{
            font-size: $f-sz-16;
        }
    }
    .form-contact{
        width: 100%;
    }
    .box-contact-send{
        width: 100%;
        a{
            display: inline-block;
            color: #ffff;
            font-size: $f-sz-16;
            font-weight: 700;
            background: $primary;
            padding: 16px 176px;
        }
    }
}
.pt-6{
    padding-top: 6px;
}
.pb-6{
    padding-bottom: 6px;
}
.pb-24{
    padding-bottom: 24px;
}
.pb-106{
    padding-bottom: 106px;
}
.pl-4{
    padding-left: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mt-48{
    margin-bottom: 48px;
}

@include pad{
    .contact{
        .box-contact-send{
            a{
                padding: 16px 136px;
            }
        }
    }
    .fz-md-16{
        font-size: $f-sz-16;
    }
    .pb-md-24{
        padding-bottom: 24px;
    }
}
@include mobile{
    .contact{
        padding: 40px 0;
        .box-contact-send{
            a{
                padding: 16px 142px;
            }
        }
    }
    .fz-sm-24{
        font-size: $f-sz-24;
    }
    .mt-sm-24{
        margin-top: 24px;
    }
}