/*color*/
$primary: #AA0601;
$secondary: #FBF2F2;
$info: #0000;
$success: #650300;


/*font-size*/
$f-sz: 8px;  /*1rem=16px*/
$f-sz-14: $f-sz*1.75;
$f-sz-16: $f-sz*2;
$f-sz-18: $f-sz*2.25;
$f-sz-20: $f-sz*2.5;
$f-sz-24: $f-sz*3;
$f-sz-36: $f-sz*4.5;
$f-sz-40: $f-sz*5;
$f-sz-48: $f-sz*6;
$f-sz-64: $f-sz*8;



/*padding*/
$padding: 4px;
$pd-1: $padding*1;

/*margin*/