@charset "UTF-8";
/*color*/
/*font-size*/
/*1rem=16px*/
/*padding*/
/*margin*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
PC： 1320px
pad： 720px
mobile： 372px
992px
768px
375px
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", "Roboto",sans-serif;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 375px) {
  .container {
    max-width: 372px;
    padding: 0; } }

/*font*/
.fz-36 {
  font-size: 36px; }

.fz-40 {
  font-size: 40px; }

.fz-16 {
  font-size: 16px; }

.fz-14 {
  font-size: 14px; }

/*flex*/
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-cc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-csbt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-cfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-ic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-ife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-dc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*padding&margin*/
.pl-64 {
  padding-left: 64px; }

.pl-48 {
  padding-left: 48px; }

.pl-32 {
  padding-left: 32px; }

.pr-20 {
  padding-right: 20px; }

.pr-22 {
  padding-right: 22px; }

.pb-8 {
  padding-bottom: 8px; }

.pb-32 {
  padding-bottom: 32px; }

/* header */
.header {
  background-color: #AA0601;
  color: #ffff;
  font-size: 20px; }
  .header img {
    max-width: 80px; }
  .header a {
    color: #ffff; }
  .header li a {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px; }

@media (max-width: 375px) {
  .header-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header img {
    padding: 12px 0; }
  .header ul {
    width: 100%;
    /*要給width:100%而不是max-width:100%*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px; }
  .header li {
    width: 50%;
    /*要給width:50%而不是max-width:50%*/
    border: 1px solid #ffff; }
  .header li a {
    display: block;
    text-align: center;
    padding: 12px 0; } }

/* footer */
.footer {
  background-color: #AA0601;
  color: #ffff; }
  .footer a {
    color: #ffff; }
  .footer-box {
    border-bottom: 1px solid #ffff; }
  .footer .nav ul {
    font-size: 16px;
    margin: 0 -24px; }
  .footer .nav a {
    display: block;
    padding: 60px 24px 36px; }
  .footer .icon a {
    font-size: 36px; }
  .footer .r-side {
    padding-top: 48px; }
    .footer .r-side img {
      max-width: 48px; }
  .footer-box2 {
    padding: 32px 0; }

@media (max-width: 768px) {
  .footer .nav a {
    padding-top: 56px;
    padding-bottom: 32px; }
  .footer .r-side img {
    max-width: 40px; }
  .footer .pl-md-16 {
    padding-left: 16px; } }

@media (max-width: 375px) {
  .footer .nav {
    display: none; }
  .footer .icon a {
    font-size: 16px; }
  .footer .r-side {
    padding-top: 24px; }
  .footer .r-side img {
    max-width: 24px; }
  .footer-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 0 24px; }
  .footer .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0; }
  .fz-18 {
    font-size: 18px; }
  .fz-20 {
    font-size: 20px; }
  .pr-sm-a {
    padding-right: 11px; }
  .pr-sm-b {
    padding-right: 10px; }
  .pl-sm-8 {
    padding-left: 8px; }
  .pt-sm-24 {
    padding-top: 24px; }
  .pl-sm-0 {
    padding-left: 0; }
  .pb-sm-8 {
    padding-bottom: 8px; } }

.title {
  height: 787px;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.main {
  padding: 96px 0 80px; }
  .main h1 {
    font-size: 48px;
    font-weight: 700;
    border-left: 8px solid #AA0601;
    padding-left: 16px; }
  .main h3 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 24px; }
  .main ul {
    margin-bottom: -32px; }
  .main li {
    padding-bottom: 32px; }
    .main li h4 {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 8px; }
    .main li p {
      font-size: 16px;
      font-weight: 400; }

@media (max-width: 768px) {
  .main {
    padding: 80px 0; } }

@media (max-width: 375px) {
  .main {
    padding: 40px 0 64px; }
    .main h1 {
      font-size: 24px; }
    .main h3 {
      padding-top: 24px; }
    .main ul {
      margin-bottom: -24px; }
    .main li {
      padding-bottom: 24px; } }

/*# sourceMappingURL=all.css.map */
